.main-nav{
    list-style: none;
    background-color: antiquewhite;
    padding-left: 0px;

}

header{
    position: sticky;
    top: 0;
}

.main-nav_item{
    display: inline-block;
    color: green;
    padding: 5px;
    text-decoration: underline;
}

.tipo1{
    color:blue;
    background-color: rgb(79, 42, 165);
}

.tipo2{
    color:brown;
    background-color: rgb(255, 0, 0);
    position: sticky;
    top: 0;

}

.article1{
    background-color: rgb(165, 127, 255);
}

.article2{
    background-color: rgb(226, 43, 83);
}

