@media (min-width:500px) {
    
}

header{
    position: sticky;
    top: 0;
    background-color: #E0724A;
    text-align: center;
}
.parrafo{
    color: #E0724A;
    display: inline-block;
    text-align: center;
}

img{
    width: 40%;
}
