@media (min-width:500px) {
    
}


main{
    background-color: #6DBEF2;
    display: inline-block;
    text-align: center;
}
header{
    position: sticky;
    top: 0;
        
    text-align: center;
}
.parrafo1{
    text-align: center;
}

.parrafo2{
    text-align: justify;
}

.parrafo3{
    text-align:left;
}

img{
    width: 40%;
}

h1{
    background-color: #5F3FFC;
    color: #140853;
}
