@media (min-width:800px) {
    
}


main{
    background-color: #C6F0C5;
}

header{
    position: sticky;
    top: 0;
    text-align: center;
}

.parrafo1{
    text-align: justify;
}

.parrafo2{
    text-align: right;
}

.parrafo3{
    text-align:center;
}
img{
    width: 40%;
}

h1{
    background-color: #A7D6A9;
}


