@media (min-width:800px) {
    
}

header{
    position: sticky;
    top: 0;
    background-color: #E6312A;
    text-align: center;
}
.parrafo{
    color: #FC4821;
    display: inline-block;
    text-align: center;
}
img{
    width: 40%;
}
