@media (min-width:600px) {
    
}

main{
    background-color: #96a6b5;
}

h1{
    background-color: #84abd0;
    text-align: center;
}

header{
    position: sticky;
    top: 0;
}


.parrafo1{
    text-align: justify;
}

.parrafo2{
    text-align: center;
}

.parrafo3{
    text-align: right;
}

img{
    width:310px;
    height:310px;
    border-radius:160px;
    border:10px solid rgb(5, 98, 10);
}







