@media (min-width:600px) {
    
}

main{
    background-color: #E6342B;
}

h1{
    background-color: #FC7D68;
    text-align: center;
}

header{
    position: sticky;
    top: 0;
}


.parrafo1{
    text-align: justify;
}

.parrafo2{
    text-align: center;
}

.parrafo3{
    text-align: right;
}

img{
    width: 40%;
}







